* {
    font-family: "SUSE", sans-serif;
}

.pointer:hover {
    cursor: pointer;
}

.large-font {
    font-size: 10vh;
}

.medium-font {
    font-size: 5vh;
}

.small-font {
    font-size: 4vh;
}

.window {
    background-color: rgb(93, 23, 223);
    width:60%;
    height:90%;
    position:absolute;
    margin: auto;
    float:center;
    left:20%;
    top: 5%;
}

.round-corners {
    border-radius: 50px;
}

.center-text {
    text-align: center;
}

.inline {
    display: inline-flex;
}

.spread {
    justify-content: space-between;
}

.space-around {
    margin: 05px;
}

.check {
    width:20px;
    height:20px;
    accent-color: rgb(255, 200, 21);
}

.hidden {
    display: none;
}

body {
    transition: 500ms;
    background-color: '#000042';
    text-align: center;
    height:100%;
    color: white;
}

#head {
    width: 50%;
    margin: auto;
    margin-top: -10vh;
}

#equation {
    font-size: 9vh;
    margin: 10px;
}

#answer {
    width: 25%;
    height: 10%;
    margin-bottom: 4%;
    font-size: 8vh;
}

/* Chrome, Safari, Edge, Opera */
#answer::-webkit-outer-spin-button,
#answer::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#answer[type=number] {
  -moz-appearance: textfield;
}

#buttons {
    margin-top: -5vh;
}

#submit, #skip {
    width: 10vw;
}

#skip {
    margin-left: 15px;
}

#options {
    height: 7vh;
    width: 80%;
    margin-top: 3vh;
}

#settings, #restart {
    height: 8vh;
    transition: 300ms;
}

#settings:hover, #restart:hover {
    height:10vh;
}

.close {
    width: 4%;
    margin-left: 44%;
    margin-top: 2%;
    position: absolute;
}

.settings-title {
    font-size: 7vh;
}

#settings-body {
    width: 80%;
    list-style: none;
    text-align: left;
    margin-top: 3%;
}

#settings-left, #settings-right {
    display: inline-block;
}

#settings-right .inline {
    font-size: 3.4vh;
}

#settings-right {
    width:80%;
}

#settings-left h3, #settings-right h3 {
    margin: 0px;
    margin-bottom: 10px;
}

.space {
    height:8%;
}
.space2 {
    height: 3%;
}

#settings-left .x-range, #settings-left .y-range {
    width: 15%;
}

#settings-left select {
    font-size: 3vh;
}

.settings-buttons {
    background-color: #214aff;
    width: 50%;  
    height: 15%;
    color: white;
}

#settings-go, #settings-results {
    margin: 50px;
    margin-top: 30px;
    margin-bottom: 0;
}

#settings-results {
    margin-top: 10px;
    font-size: 2.5vh;
}

#results-window {
    text-align: center;
}
#history-container {
    overflow:auto;
    height:70%;
    width:70%;
    margin:auto;
}
#history-table {
    margin:auto;
    background-color: rgb(117, 31, 255);
}

::-webkit-scrollbar {
    background:rgb(58, 0, 167);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background:rgb(197, 167, 255);
    border-radius: 50px;
}

td {
    border: 5px solid rgba(189, 148, 255, 0.767);
    width: 30%;
    font-size: 3vh;
    font-weight: bold;
}

#col1, #col3 {
    width: 35%;
}

#col1, #col2, #col3 {
    font-size: 3.5vh;
}

#end-window {
    height: 80%;
    top: 10%
}

#end-window .settings-title {
    font-size: 12vh;
    margin-bottom: 20px;
}

#end-time, #score-display {
    color: #ff3030;
    font-size: 10vh;
    margin: 0;
}

#score-display {
    color: #00cc00;
}

#end-window .settings-buttons {
    width: 20%;
    height: 10%;
}

@media (max-width: 1000px) {
    #head {
        width: 90%;
    }

    .large-font {
        font-size: 6vh;
    }

    .medium-font {
        font-size: 2.3vh;
    }

    .small-font {
        font-size: 2vh;
    }

    #settings-right .inline {
        font-size: 2vh;
    }    

    body {
        margin-top: 20vh;
    }

    #equation {
        font-size: 5vh;
    }
    
    #answer {
        width: 35vw;
        height: 5vh;
        margin-bottom: 2vh;
        font-size: 4vh;
    }

    #buttons {
        margin-top: 0;
    }

    #submit, #skip {
        width: 20vw;
    }

    #options {
        top: 30vh;
        position: relative;
        margin: auto;
    }

    #options img {
        height: 5vh;
    }
    #settings:hover, #restart:hover {
        height:5vh;
    }

    .window {
        width: 80%;
        left: 10%;
    }

    #settings-body {
        margin: 0;
        display: inline-block;
        height: 70%;
        overflow-y: scroll;
    }

    .space {
        height: 2vh;
    }

    #settings-left select {
        font-size: 2vh;
    }

    #number-ranges li {
        display: block;
    }

    #settings-right {
        margin-top: 5vh;
    }

    #settings-buttons {
        display: inline-flex;
        justify-content: space-between;
    }

    #settings-go, #settings-results {
        margin: 0;
        margin-top: 7vh;
    }

    #settings-go {
        width: 20vw;
    }
    
    #settings-results {
        width: 30vw;
        font-size: 2vh;
        margin-left: 2vw;
    }

    ::-webkit-scrollbar {
        width: 2px;
    }

    .close {
        width: 20px;
        margin-left: 37%;
        margin-top: 5%;
    }

    .settings-title {
        font-size: 5vh;
        width: 95%;;
    }

    #history-container {
        width: 90%;
        height: 80%
    }

    td {
        border-width: 3px;
        font-size: 1.5vh;
    }

    #col1, #col2, #col3 {
        font-size: 2vh;
    }

    #end-window {
        height: 90%;
        top: 5%;
    }

    #end-window .settings-title {
        font-size: 7vh;
        margin-top: 10vh;
    }

    #end-time, #score-display {
        font-size: 6vh;
    }

    #end-window .settings-buttons {
        display: block;
        margin: auto;
        width: 40vw;
        font-size: 3vh;
        height: 14vw;
        margin-top: 2vh;
    }
}