* {
    font-family: "SUSE", sans-serif;
}

body {
    transition: 300ms;
    background-color: '#000042';
    text-align: center;
    height:100%;
}

h1, h3 {
    color: white;
}

#head {
    width: 50%;
    margin: auto;
    margin-top: -10vh;
}

.title {
    font-size: 10vh;
}

#direction {
    font-size: 5vh;
}

#equation {
    font-size: 9vh;
    margin: 10px;
}

#answer {
    width: 25vw;
    height: 10vh;
    border-radius: 50px;
    margin-bottom: 4vh;
    font-size: 8vh;
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
#answer::-webkit-outer-spin-button,
#answer::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#answer[type=number] {
  -moz-appearance: textfield;
}

#buttons {
    display:block;
    margin: auto;
}

.hidden {
    display: none;
}

#skip #submit {
    display: inline-flex;
}

#submit, #skip {
    font-size: 5vh;
    border-radius: 50px;
    width: 10vw
}

#skip {
    margin-left: 15px;
}

#result {
    font-size: 6vh;
}

#options {
    display: inline-flex;
    height: 7vh;
    width: 80%;
    margin-top: 3vh;
    text-align: center;
    justify-content: space-between;
}

#settings, #restart {
    height: 8vh;
    transition: 300ms;
    /* margin-left: 5%; */
}

#settings:hover, #restart:hover {
    height:10vh;
}

#timer, #score {
    font-size: 5vh;
}

#settings-window {
    background-color: #cccccc;
    width:80%;
    height:80%;
    position:absolute;
    display:block;
    margin: auto;
    left:10%;
    top: 10%;
    transition: 500ms;
}

.close {
    width: 4%;
    margin-left: 45%;
    margin-top: 1%;
    position: absolute;
}

#settings-body {
    justify-content: space-between;
    width: 90%;
    background-color: red;
    color:green;
    display: inline-block;
}

#settings-left {
    display: inline;
    list-style: none;
    float: left;
}

@media (max-width: 1000px) {
    #head {
        width: 100%;
    }

    #title {
        font-size: 6vh;
    }
    
    #direction {
        font-size: 2.5vh;
    }
    
    #equation {
        font-size: 5vh;
    }
    
    #answer {
        width: 35vw;
        height: 5vh;
        border-radius: 50px;
        margin-bottom: 2vh;
        font-size: 4vh;
        text-align: center;
    }

    #submit, #skip {
        font-size: 2vh;
        border-radius: 50px;
        width: 15vw;
    }
    
    #submit {
        margin-right: 15px;
    }
    
    #result {
        font-size: 3vh;
    }
}